{% if session['user_id'] %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="30" height="30" class="rounded-circle">
        {{ session['name'] }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
        <li><a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</li>
{% else %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
{% endif %}
